/* overall style */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

body {
  font-family: Open Sans, sans-serif;
}

a { color: #0e488a; }

blockquote {
  padding: 0 1ex 0 1ex;
}

footer {
  color: #6f6f6f;
}

/* navbar styles */

@media (min-width: 940px) {
  .top-bar ul li.active>a {
    border-bottom: 5px solid #0e488a;
  }
}

/* sidebar styles */

.sidebar p, .sidebar li {
  font-size: 85%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

